<div class="flex flex-col items-center justify-center min-h-screen bg-[--bg-200]">

  <div class="absolute top-4 right-4">
    <app-theme-toggle></app-theme-toggle>
  </div>
    <!-- Register Form -->
    <section class="w-full max-w-lg p-8 bg-[--bg-100] rounded-2xl shadow-lg border border-[--bg-300] 
        flex flex-col items-center justify-center mx-auto mt-20">
      
      <h2 class="text-3xl font-bold text-[--text-100] mb-6 text-center">Register</h2>
      
      <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">
        <input 
          type="text" 
          [(ngModel)]="user.name" 
          name="name" 
          placeholder="Name" 
          required 
          class="p-3 border border-[--primary-200] rounded-lg bg-[--primary-100] text-[--text-100] 
          focus:outline-none focus:ring-2 focus:ring-[--accent-200]" 
        />
  
        <input 
          type="text" 
          [(ngModel)]="user.lastname" 
          name="lastname" 
          placeholder="Lastname" 
          required 
          class="p-3 border border-[--primary-200] rounded-lg bg-[--primary-100] text-[--text-100] 
          focus:outline-none focus:ring-2 focus:ring-[--accent-200]" 
        />
  
        <input 
          type="text" 
          [(ngModel)]="user.username" 
          name="username" 
          placeholder="Username" 
          required 
          class="p-3 border border-[--primary-200] rounded-lg bg-[--primary-100] text-[--text-100] 
          focus:outline-none focus:ring-2 focus:ring-[--accent-200]" 
        />
  
        <input 
          type="email" 
          [(ngModel)]="user.email" 
          name="email" 
          placeholder="Email" 
          required 
          class="p-3 border border-[--primary-200] rounded-lg bg-[--primary-100] text-[--text-100] 
          focus:outline-none focus:ring-2 focus:ring-[--accent-200]" 
        />
  
        <input 
          type="password" 
          [(ngModel)]="user.password" 
          name="password" 
          placeholder="Password" 
          required 
          class="p-3 border border-[--primary-200] rounded-lg bg-[--primary-100] text-[--text-100] 
          focus:outline-none focus:ring-2 focus:ring-[--accent-200]" 
        />
  
        <input 
          type="number" 
          [(ngModel)]="user.phone" 
          name="phone" 
          placeholder="Phone" 
          required 
          class="p-3 border border-[--primary-200] rounded-lg bg-[--primary-100] text-[--text-100] 
          focus:outline-none focus:ring-2 focus:ring-[--accent-200]" 
        />
  
        <input 
          type="date" 
          [(ngModel)]="user.birth" 
          name="birth" 
          placeholder="Birth" 
          class="p-3 border border-[--primary-200] rounded-lg bg-[--primary-100] text-[--text-100] 
          focus:outline-none focus:ring-2 focus:ring-[--accent-200]" 
        />
  
        <div class="flex items-center justify-between gap-4 mt-2 w-full">
          <a routerLink="/login" class="text-[--text-100] text-sm hover:underline w-1/2 text-center">
            Ya tengo una cuenta
          </a>
          <button 
            type="submit" 
            class="bg-blue-700 text-white py-2 px-4 rounded-lg shadow-md text-sm 
            hover:bg-blue-600 transition w-1/2"
          >
            REGISTER
          </button>
        </div>
      </form>
    </section>
  </div>
  